.add-plan {
  background-color: @special-medium-blue;
}

.add-plan__center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.add-plan__heading {
  width: 80%;

  font-weight: @font-bold;
  font-size: @heading-font-size;
  line-height: @heading-line-height;
  color: @title-color;
}
