.button {
  background-color: @basic-yellow;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @special-blue;

  &--oval {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
  }
}
