.button {
  display: block;

  background-color: @button-background;

  font-family: @basic-font-family;
  font-weight: @font-bold;
  font-size: @button-font-size;
  line-height: @button-line-height;
  color: @button-color;

  @media (min-width: @tablet-width) {
    font-size: @button-tablet-font-size;
    line-height: @button-tablet-line-height;
  }

  &--oval {
    border-radius: 25px;
  }

  &--oval-alt {
    background-color: @special-button-blue;

    text-transform: uppercase;
    color: @basic-blue;

    border-radius: 20px;
  }
}
