.calendar {
  width: 100%;

  font-size: @title-font-size;
  line-height: @title-line-height;
  text-align: center;

  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    font-size: @calendar-tablet-font-size;
    line-height: @calendar-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.calendar__header-cell {
  padding-bottom: 7px;

  font-weight: @font-normal;
  text-transform: uppercase;
  color: @alt-text-color;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 21px;
    padding-left: 18px;
  }

  &:nth-child(6) {
    color: @special-dark-orange;
  }

  &:last-child {
    color: @special-dark-orange;
  }
}

.calendar__header-extended {
  display: none;

  text-transform: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.calendar__week {
  &:nth-child(6) {
    .calendar__day {
      @media (min-width: @desktop-width) {
        padding-top: 5px;
        padding-bottom: 12px;
        vertical-align: top;
      }
    }
  }
}

.calendar__day {
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 7px;

  color: @special-light-gray;

  border: 1px solid @special-calendar-gray;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 26px;
    padding-left: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 14%;
    padding-top: 12px;
    padding-bottom: 41px;
    padding-left: 17px;
  }

  &--future {
    background-color: @basic-lighter-gray;
    font-weight: @font-medium;
    color: @title-color;
  }

  &--active {
    background-color: @special-blue;

    color: @basic-white;
  }

  &--select {
    @media (min-width: @tablet-width) {
      padding-top: 23px;
      padding-right: 25px;
      padding-bottom: 24px;
      padding-left: 25px;

      border: 4px solid @special-dark-orange;
    }

    @media (min-width: @desktop-width) {
      padding-left: 14px;
    }
  }
}

.calendar__day-memo {
  display: none;

  line-height: @alt-line-height;

  @media (min-width: @desktop-width) {
    display: block;

    margin: 0;
    margin-top: 8px;
  }
}
