.companions {
  position: relative;
  top: -34px;
  z-index: 4;

  margin-bottom: -34px;
  padding-top: 102px;

  background-color: @basic-blue;

  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 86% 5.7%, -3.8% 26.7%;

  border-radius: 30px;

  padding-bottom: 31px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-mobile@2x.png");
    background-size: 143px auto, 71px auto;
  }

  @media (min-width: @tablet-width) {
    top: -67px;

    padding-top: 208px;
    padding-bottom: 87px;
    margin-bottom: -67px;

    border-radius: 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png");
    background-position: 6.4% 41.4%, 84.6% 14%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-desktop@2x.png");
      background-size: 143px auto, 285px auto;
    }
  }

  @media (min-width: @desktop-width) {
    top: -101px;

    margin-bottom: -101px;
    padding-top: 227px;
    padding-bottom: 134px;
    border-radius: 56px;

    background-position: 42.2% 32.5%, 16.5% 84.1%;
  }

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 68px;
    left: -19px;

    width: 132px;
    height: 132px;

    background-color: @special-background-blue;
    border-radius: 20px;

    @media (min-width: @tablet-width) {
      top: 138px;
      left: 40px;

      width: 212px;
      height: 212px;
    }

    @media (min-width: @desktop-width) {
      top: 171px;
      left: 60px;
    }
  }

  &--catalog {
    top: 0;

    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 46px;

    background-color: @basic-lighter-gray;
    background-size: 0;
    border-radius: 0;

    @media (min-width: @tablet-width) {
      width: 100%;
      padding-bottom: 64px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 79px;
    }

    &::before {
      width: 0;
    }

    .companions__button {
      @media (min-width: @tablet-width) {
        font-size: @text-alt-tablet-font-size;
        line-height: @text-alt-tablet-line-height;
      }
    }
  }
}

.companions__center {
  @media (min-width: @tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 427px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "heading list"
      "text list"
      "button list";
    column-gap: 193px;

    padding-left: 130px;
    padding-right: 60px;
  }
}

.companions__heading {
  margin: 0;
  margin-bottom: 19px;
  padding-left: 25px;

  font-weight: @font-bold;
  font-size: @heading-font-size;
  line-height: @heading-line-height;
  color: @special-orange;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    padding-left: 0;

    font-size: @section-tablet-font-size;
    line-height: @section-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    grid-area: heading;
  }
}

.companions__text {
  margin: 0;
  padding-left: 25px;
  padding-right: 30px;

  font-weight: @font-light;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @text-color;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 190px;

    font-size: @text-tablet-font-size;
    line-height: @text-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }

  &:last-child {
    font-weight: @font-bold;
    margin-top: 21px;
    margin-bottom: 54px;

    @media (min-width: @tablet-width) {
      width: 42%;
      margin-top: 39px;
      margin-bottom: 63px;
      padding-right: 0;

      font-size: @cite-tablet-font-size;
      line-height: @cite-tablet-line-height;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      margin-top: 42px;
      margin-bottom: 85px;
    }
  }
}

.companions__button {
  position: relative;

  width: 100%;
  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 23px;

  border-radius: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 32px;

    border-radius: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    grid-area: button;

    width: 65.5%;
    margin-left: 1px;
  }

  &--more {
    display: block;

    width: 100%;
    margin-left: 15px;
    padding: 0;

    font-weight: @font-bold;
    font-size: @button-alt-font-size;
    line-height: @button-alt-line-height;
    text-transform: uppercase;
    color: @button-color;
    text-align: center;

    @media (min-width: @tablet-width) {
      margin-left: 22px;
    }

    @media (min-width: @desktop-width) {
      margin-left: -12px;
    }
  }
}

.companions__button-icon {
  position: absolute;
  top: 24px;
  right: 23px;

  width: 14px;
  height: 13px;

  @media (min-width: @tablet-width) {
    top: 33px;
    right: 35px;
  }
}

.companions__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    grid-area: list;
  }
}

.companions__wrapper {
  @media (min-width: @desktop-width) {
    grid-area: text;
  }
}
