.companions {
  background-color: @basic-blue;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 143px 143px, 71px 71px;
  background-position: top right, center left;

  padding-right: 25px;
  padding-bottom: 31px;
  padding-left: 25px;
}

.companions__heading {
  padding-top: 68px;

  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: @special-orange;
}

.companions__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: @basic-white;

  &:last-child {
    font-weight: bold;
  }
}
