.companion-card {
  background-color: @basic-white;

  margin-bottom: 10px;

  &--detailed .companion-card__name {
    font-size: @companion-font-size;
    line-height: @companion-line-height;
  }

  &--detailed .companion-card__hashtags {
    font-size: @additional-text-font-size;
    line-height: 18px;
  }
}

.companion-card__name {
  margin: 0;

  font-weight: @font-bold;
  font-size: @name-font-size;
  line-height: @name-line-height;
  color: @title-color;
}

.companion-card__hashtags {
  margin: 0;

  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  color: @alt-text-color;
}

.companion-card__followers {
  margin: 0;

  font-weight: @font-bold;
  font-size: @details-font-size;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-dark-blue;
}

.companion-card__intro {
  margin: 0;

  font-size: @additional-text-font-size;
  line-height: @additional-text-line-height;
  color: @alt-text-color;
}
