.companions {
  padding-top: 68px;

  background-color: @basic-blue;

  padding-right: 25px;
  padding-bottom: 31px;
  padding-left: 25px;

  &--catalog {
    background-color: @basic-lighter-gray;
  }
}

.companions__center {
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 143px 143px, 71px 71px;
  background-position: top right, center left;
}

.companions__heading {
  margin: 0;

  font-weight: @font-bold;
  font-size: @heading-font-size;
  line-height: @heading-line-height;
  color: @special-orange;
}

.companions__text {
  margin: 0;

  font-weight: @font-light;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @text-color;

  &:last-child {
    font-weight: @font-bold;
  }
}

.companions__button {
  font-weight: @font-bold;
  font-size: @button-font-size;
  line-height: @button-line-height;
  text-transform: uppercase;
  color: @button-color;
}

@media (min-width: @tablet-width) {
  .companions__list {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .companions__center {
    display: grid;
    grid-template-columns: 427px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "heading list"
      "text list"
      "button list";
    column-gap: 190px;
  }

  .companions__heading {
    grid-area: heading;
  }

  .companions__wrapper {
    grid-area: text;
  }

  .companions__list {
    grid-area: list;
  }

  .companions__button {
    grid-area: button;
  }
}
