.contacts-list {
  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 60px;

  font-weight: @font-bold;
  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 90px;

    font-size: @contacts-tablet-font-size;
    line-height: @contacts-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &--login {
    margin-top: 30px;

    line-height: @text-line-height;

    @media (min-width: @tablet-width) {
      margin-top: 64px;
      padding-left: 125px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 78px;
      margin-left: 345px;
      padding-left: 0;
    }

    .contacts-list__item {
      margin-bottom: 23px;

      @media (min-width: @tablet-width) {
        margin-bottom: 39px;
      }

      @media (min-width: @desktop-width) {
        margin-bottom: 0;
      }

      &:first-child {
        @media (min-width: @desktop-width) {
          margin-right: 231px;
        }
      }
    }
  }

  &--menu {
    margin-bottom: 53px;

    @media (min-width: @tablet-width) {
      margin-left: 57px;
      margin-bottom: 133px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.contacts-list__item {
  position: relative;

  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: -15px;
    left: -61px;

    width: 45px;
    height: 45px;

    background-color: @special-dark-blue;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: -23px;
      left: -91px;

      width: 68px;
      height: 68px;
    }

    @media (min-width: @desktop-width) {
      top: -34px;
      left: -121px;

      width: 90px;
      height: 90px;
    }
  }
}

.contacts-list__link {
  color: @link-color;

  &--alt {
    color: @alt-link-color;
  }
}

.contacts-list__icon {
  position: absolute;

  color: @basic-yellow;

  &--phone {
    top: 0;
    left: -46px;

    width: 15px;
    height: 15px;

    @media (min-width: @tablet-width) {
      top: -2px;
      left: -69px;

      width: 24px;
      height: 22px;
    }

    @media (min-width: @desktop-width) {
      top: 0;
      left: -92px;

      width: 31px;
      height: 30px;
    }
  }

  &--mail {
    top: 2px;
    left: -47px;

    width: 18px;
    height: 13px;

    @media (min-width: @tablet-width) {
      top: 3px;
      left: -70px;

      width: 28px;
      height: 19px;
    }

    @media (min-width: @desktop-width) {
      top: 3px;
      left: -93px;

      width: 37px;
      height: 25px;
    }
  }
}

.contacts-list__text {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
