.countries-list__name {
  font-weight: @font-bold;
  font-size: @name-font-size;
  line-height: @name-line-height;
  color: @basic-black;
}

.countries-list__description {
  font-weight: @font-medium;
  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  color: @special-light-gray;
}

.countries-list__counter {
  font-weight: @font-medium;
  font-size: @counter-font-size;
  line-height: @counter-line-height;
  color: @special-counter-gray;
}
