.destinations-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  list-style: none;

  margin: 0;
  padding: 0;

  font-weight: @font-medium;
  font-size: @additional-text-font-size;
  line-height: @additional-text-line-height;
  text-transform: uppercase;
  color: @special-blue;

  &--detailed {
    @media (max-width: @mobile-width-only) {
      flex-direction: column;
    }

    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }
}
