.destinations-list {
  list-style: none;

  margin: 0;

  font-weight: @font-medium;
  font-size: @additional-text-font-size;
  line-height: @additional-text-line-height;
  text-transform: uppercase;
  color: @special-blue;
}
