.directions-list {
  list-style: none;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.directions-list__item {
  &:last-child {
    .directions-list__card {
      margin-bottom: 0;
    }

    .directions-list__wrapper {
      padding-bottom: 6px;
    }
  }
}

.directions-list__card {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 560px;
  }
}

.directions-list__image {
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.directions-list__wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding-top: 26px;
  padding-bottom: 22px;
  padding-left: 25px;

  background-color: @basic-white;
  border-radius: 10px;

  @media (max-width: @mobile-width-only) {
    top: -17px;

    margin-bottom: -17px;
    padding-right: 24px;
  }

  @media (min-width: @tablet-width) {
    order: -1;

    flex-direction: column;

    flex-grow: 1;

    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 28px;

    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 24px;
    padding-bottom: 21px;
    padding-left: 30px;
  }
}

.directions-list__link {
  display: block;
  width: 35%;
  margin-right: 100px;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }
}

.directions-list__name {
  margin: 0;

  font-weight: @font-bold;
  font-size: @name-font-size;
  line-height: @name-line-height;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: @heading-font-size;
    line-height: @heading-line-height;
  }
}

.directions-list__description {
  width: 64%;
  margin: 0;

  font-weight: @font-medium;
  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  color: @special-light-gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;

    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.directions-list__counter {
  font-weight: @font-medium;
  font-size: @counter-font-size;
  line-height: @counter-line-height;
  color: @special-counter-gray;

  @media (min-width: @tablet-width) {
    order: 1;

    padding-left: 32px;

    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }
}

.directions-list__picture {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    width: 186px;
    height: 140px;
  }
}
