.directions {
  background-color: @basic-lighter-gray;

  padding-top: 71px;
  padding-right: 25px;
  padding-bottom: 34px;
  padding-left: 25px;
}

.directions__heading {
  font-weight: @font-bold;
  font-size: @heading-font-size;
  line-height: @heading-line-height;
  color: @section-heading-color;
}

.directions__text {
  font-weight: @font-light;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @alt-text-color;
}
