.footer {
  padding-top: 37px;
  padding-right: 25px;
  padding-bottom: 19px;
  padding-left: 25px;
}

.footer__copyright {
  display: flex;
}

@media (min-width: @tablet-width) {
  .footer__center {
    display: flex;
  }
}
