.footer {
  position: relative;
  top: -110px;
  z-index: 1;

  margin-bottom: -110px;
  padding-top: 37px;

  background-color: @basic-white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: @tablet-width) {
    top: -70px;

    margin-bottom: -70px;
    padding-top: 46px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: @desktop-width) {
    top: -68px;

    margin-bottom: -68px;
    padding-bottom: 43px;
  }

  &--catalog {
    position: static;

    padding-bottom: 19px;
  }
}

.footer__social {
  &.social {
    @media (min-width: @tablet-width) {
      margin-right: 15px;
      padding-left: 0;
    }
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.footer__center {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer__logo {
  display: block;

  width: 96px;
  height: 15px;
  margin-bottom: 40px;
  margin-left: 87px;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 52px;
  }
}
