.form {
  background-color: @button-background;
}

.form__heading {
  font-weight: @font-bold;
  font-size: 22px;
  line-height: @text-line-height;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-size: @alt-tablet-font-size;
    line-height: @alt-tablet-line-height;
  }
}

.form__fieldset {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.form__legend {
  font-weight: @font-bold;
  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-weight: @font-medium;
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    line-height: @text-line-height;
  }
}

.form__legend-add {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__list {
  list-style: none;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }

  &--transport {
    flex-direction: row;
  }
}

.form__label {
  font-size: @additional-text-font-size;
  line-height: 20px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }
}

.form__level-input {
  font-weight: @font-medium;
  font-size: @details-font-size;
  line-height: 13px;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }
}

.form__button {
  font-size: @form-button-font-size;
  line-height: @form-button-line-height;
  color: @basic-dark-blue;

  background-color: @basic-white;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }
}
