.header {
  background-color: @basic-dark-blue;

  &--nojs {
    background-color: @basic-white;

    .header__nav-toggle {
      display: none;
    }

    .header__nav {
      display: block;
    }

    .header__logo--light {
      display: none;
    }

    .header__logo--dark {
      display: block;
    }
  }

  &--opened {
    background-color: @basic-white;

    .header__nav {
      display: block;
    }

    .header__center {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 7;

      width: 100%;

      background-color: @basic-white;
    }

    .header__nav-toggle {
      width: 18px;
      height: 19px;
    }

    .header__nav-toggle::before, .header__nav-toggle::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -2px;

      width: 24px;
      height: 2px;
      background-color: @special-gray;
    }

    .header__nav-toggle::before {
      transform: rotate(45deg);
    }

    .header__nav-toggle::after {
      transform: rotate(-45deg);
    }

    .header__nav-toggle:hover::before, .header__nav-toggle:hover::after {
      background-color: @special-button-hover-gray;
    }

    .header__nav-toggle:focus::before, .header__nav-toggle:focus::after {
      background-color: @special-button-hover-gray;
    }

    .header__nav-toggle:hover::before, .header__nav-toggle:hover::after {
      background-color: @special-button-active-gray;
    }

    .header__logo--light {
      display: none;
    }

    .header__logo--dark {
      display: block;
    }
  }

  &--closed {
    .header__nav-toggle {
      width: 25px;
      height: 11px;
    }
    .header__nav-toggle::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 25px;
      height: 3px;
      background-color: @basic-white;
      border-radius: 1.5px;
      box-shadow: 0 8px 0 0 @basic-white;
    }

    .header__nav-toggle:hover::before {
      background-color: @special-hover-white;
      box-shadow: 0 8px 0 0 @special-hover-white;
    }

    .header__nav-toggle:focus::before {
      background-color: @special-hover-white;
      box-shadow: 0 8px 0 0 @special-hover-white;
    }

    .header__nav-toggle:active::before {
      background-color: @special-active-white;
      box-shadow: 0 8px 0 0 @special-active-white;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: @special-map-blue;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-dark-blue;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 52px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
  }
}

.header__nav-toggle {
  position: relative;

  padding: 0;

  background-color: inherit;
  border: none;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;

    padding-top: 46px;
    padding-bottom: 11px  ;
  }
}

.header__logo {
  width: 96px;
  height: 15px;

  margin-right: auto;

  &--dark {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.header__user-list {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.header__social {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__login {
  margin-left: auto;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 29px;

  font-weight: @font-bold;
  font-size: @alt-font-size;
  line-height: @alt-line-height;
  text-transform: uppercase;
  color: @basic-dark-blue;

  background-color: @button-background;
  border-radius: 25px;
}
