.letterfield__letter {
  background-color: @basic-white;

  font-weight: @font-medium;
  font-size: @details-font-size;
  line-height: @details-line-height;
  text-transform: uppercase;
  color: @button-color;

  &--active {
    background-color: @special-blue;

    color: @basic-white;
  }

  &--active-plans {
    background-color: @basic-lighter-gray;
  }
}
