.main__active-tab {
  background-color: @special-map-blue;
}

.main__heading {
  margin: 0;

  padding-left: 25px;
  padding-bottom: 12px;

  border-bottom: solid 4px @basic-orange;

  font-weight: @font-bold;
  font-size: @main-heading-font-size;
  line-height: @main-heading-line-height;
  color: @tab-heading-color;
}
