.main__active-tab {
  background-color: @special-map-blue;
}

.main__heading {
  padding-left: 25px;
  padding-bottom: 12px;

  border-bottom: solid 4px @basic-orange;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
}
