.main__active-tab {
  padding-top: 8px;

  background-color: @special-map-blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 87px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.main__center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
  }

  &--catalog {
    flex-direction: column;

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-areas: "companions form";
    }
  }
}

.main__heading {
  margin: 0;

  padding-bottom: 14px;

  border-bottom: solid 4px @basic-orange;

  font-weight: @font-bold;
  font-size: @tab-font-size;
  line-height: @tab-line-height;
  color: @tab-heading-color;

  @media (min-width: @tablet-width) {
    padding-bottom: 68px;

    font-size: @tab-tablet-font-size;
    line-height: @tab-tablet-line-height;
  }
}

.main__level-bar {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main__image {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main__form {
  @media (min-width: @desktop-width) {
    grid-area: form;
    margin-left: auto;
    width: 20%;
  }
}

.main__companions {
  @media (min-width: @desktop-width) {
    grid-area: companions;
    width: 65%;
  }
}

.main__link {
  display: none;

  font-weight: @font-bold;
  font-size: @alt-font-size;
  line-height: @alt-line-height;
  text-transform: uppercase;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main__map {
  position: relative;
  top: -52px;
  height: 424px;

  margin-bottom: -52px;

  @media (min-width: @tablet-width) {
    height: 586px;
  }

  @media (min-width: @desktop-width) {
    top: -122px;

    height: 584px;
    margin-bottom: -122px;
  }
}
