.nav {
  display: none;

  background-color: @basic-white;

  padding-top: 19px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 53px;
    padding-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 0;
    padding-bottom: 0;

    background-color: @special-map-blue;
  }
}

.nav__list {
  list-style: none;

  margin: 0;
  margin-bottom: 51px;
  padding: 0;

  font-size: @nav-font-size;
  line-height: @nav-line-height;
  font-weight: @font-medium;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 150px;
    padding-left: 57px;

    font-size: @nav-tablet-font-size;
    line-height: @nav-tablet-line-height;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 0;
    padding-left: 0;

    font-size: @alt-font-size;
    line-height: @alt-line-height;
  }
}

.nav__item {
  @media (min-width: @desktop-width) {
    margin-right: 33px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: @link-color;

  @media (min-width: @desktop-width) {
    color: @text-color;
  }

  &:hover {
    @media (min-width: @desktop-width) {
      color: @alt-link-color;
    }
  }

  &:focus {
    @media (min-width: @desktop-width) {
      color: @alt-link-color;
    }
  }

  &:active {
    @media (min-width: @desktop-width) {
      color: @special-active-yellow;
    }
  }
}
