.plan-card__heading {
  font-weight: @font-bold;
  font-size: @text-alt-font-size;
  line-height: @text-alt-line-height;
}

.plan-card__text {
  font-weight: @font-medium;
  font-size: @details-font-size;
  line-height: @details-line-height;
  text-transform: uppercase;
}

.plan-card__link {
  font-weight: @font-medium;
  font-size: @details-font-size;
  line-height: @details-line-height;
  text-transform: uppercase;
  color: @special-light-black;
}
