.plans {
  background-color: @basic-light-blue;
}

.plans__heading {
  font-weight: @font-bold;
  font-size: @heading-font-size;
  line-height: @heading-line-height;
  color: @title-color;
}

.plans__item {
  background-color: @basic-white;

  font-weight: @font-medium;
  font-size: @text-alt-font-size;
  line-height: @text-alt-line-height;
  color: @title-color;

  border-radius: 10px;
}
