.profile {
  background-color: @basic-lighter-gray;
}

.profile__title {
  font-weight: @font-bold;
  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  text-transform: uppercase;
  color: @title-color;
}

.profile__hashtags {
  background-color: @basic-lighter-gray;

  font-size: @text-special-font-size;
  line-height: @text-special-line-height;
  color: @special-hover-gray;

  border: 1px solid @special-outline-gray;
  border-radius: 10px;
}

.profile__transport {
  border: 1px solid @special-outline-gray;
  border-radius: 10px;
}
