.promo {
  position: relative;
  z-index: 6;

  padding-bottom: 82px;

  background-color: @basic-dark-blue;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: 100% 402px;
  background-repeat: no-repeat;
  background-position: center -16px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../../img/globe-back-mobile@2x.jpg");
      background-size: 640px auto;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 89px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 165px;
  }
}

.promo__motto {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 265px;

  font-weight: @font-bold;
  font-size: @tab-font-size;
  line-height: 40px;
  text-align: center;
  color: @text-color;

  @media (min-width: @tablet-width) {
    padding-left: 145px;
    padding-right: 144px;
    padding-bottom: 10px;

    font-size: @heading-tablet-font-size;
    line-height: @heading-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    width: 35%;
    padding-left: 67px;
    padding-right: 0;

    text-align: left;
  }
}

.promo__quote {
  width: 65%;
  margin: 0;

  font-weight: @font-light;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @text-color;

  @media (min-width: @tablet-width) {
    width: 40%;

    font-size: @text-tablet-font-size;
    line-height: @text-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    width: 100%;

    line-height: @text-desktop-line-height;
  }
}

.promo__cite {
  display: block;
  font-style: normal;
  font-weight: @font-bold;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @text-color;

  margin-top: 18px;

  @media (min-width: @tablet-width) {
    margin-top: 45px;

    font-size: @cite-tablet-font-size;
    line-height: @cite-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    line-height: 24px;
  }
}

.promo__actions-list {
  position: relative;
  top: -20px;

  &.actions-list {
    margin-bottom: -20px;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: flex;

      position: absolute;
      top: -61px;
      right: 60px;
    }
  }
}

.promo__wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 30px;

    background-color: @special-map-blue;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 372px 451px, cover;
    background-position: 72% 272px, center 220px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 99px;
  }
}

.promo__blockquote {
  padding-top: 28px;
  padding-bottom: 109px;
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 350px;
    padding-left: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 21.5%;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 23px;
    padding-left: 0;
  }
}
