.promo {
  position: relative;
  z-index: 6;

  background-color: @basic-dark-blue;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: 100% 402px;
  background-repeat: no-repeat;
  background-position: center -16px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-color: @special-map-blue;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1479px auto;
    background-position: 50% 250px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-blue;

    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1800px auto;
    background-position: 50% -110px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.promo__motto {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 265px;

  font-weight: @font-bold;
  font-size: @tab-font-size;
  line-height: 40px;
  text-align: center;
  color: @text-color;

  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 70% 131px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
    background-size: 192px auto;
  }

  @media (min-width: @tablet-width) {
    padding-left: 145px;
    padding-right: 144px;
    padding-bottom: 10px;

    background-size: 0;

    font-size: @heading-tablet-font-size;
    line-height: @heading-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    width: 35%;
    padding-left: 67px;
    padding-right: 0;

    text-align: left;
  }
}

.promo__quote {
  width: 65%;
  margin: 0;

  font-weight: @font-light;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @text-color;

  @media (min-width: @tablet-width) {
    width: 40%;

    font-size: @text-tablet-font-size;
    line-height: @text-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    width: 100%;

    line-height: @text-desktop-line-height;
  }
}

.promo__cite {
  display: block;
  font-style: normal;
  font-weight: @font-bold;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @text-color;

  margin-top: 18px;

  @media (min-width: @tablet-width) {
    margin-top: 50px;

    font-size: @cite-tablet-font-size;
    line-height: @cite-tablet-line-height;
  }

  @media (min-width: @desktop-width) {
    line-height: 24px;
  }
}

.promo__actions-list {
  position: relative;
  top: -20px;

  margin-bottom: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;

    position: absolute;
    top: -61px;
    right: 60px;
  }
}

.promo__wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 25px;

    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 72% 272px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
      background-size: 372px auto;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 99px;

    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 59.9% 1px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
      background-size: 431px auto;
    }
  }
}

.promo__blockquote {
  padding-top: 28px;
  padding-bottom: 109px;
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 350px;
    padding-left: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 21.5%;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 23px;
    padding-left: 0;
  }
}
