.rates {
  background-color: @basic-light-gray;

  padding-top: 37px;
  padding-right: 25px;
  padding-bottom: 38px;
  padding-left: 49px;
}

.rates__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: @basic-orange;

  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px 100px;
}

.rates__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: @special-rates-blue;
}
