.roadmap {
  background-color: @basic-blue;
}

.roadmap__list {
  list-style: none;

  margin: 0;
  padding: 0;
  padding-bottom: 39px;

  font-weight: @font-bold;
  font-size: @roadmap-font-size;
  line-height: @roadmap-line-height;
  color: @basic-dark-blue;

  counter-reset: roadmap;

  @media (min-width: @tablet-width) {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    top: -136px;

    margin-bottom: -136px;
    padding-bottom: 96px;

    font-size: @heading-font-size;
    line-height: @heading-line-height;
  }
}

.roadmap__item {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  counter-increment: roadmap;

  padding-top: 22px;
  padding-right: 8%;
  padding-bottom: 102px;
  padding-left: 9%;

  border-radius: 10px;

  @media (max-width: @mobile-width-only) {
    top: -80px;

    margin-bottom: -80px;
  }

  @media (min-width: @tablet-width) {
    min-height: 140px;
    padding-top: 30px;
    padding-bottom: 21px;
    padding-left: 33px;

    flex-direction: column;
  }

  &:first-child {
    background-color: @basic-orange;
  }

  &:nth-child(2) {
    background-color: @special-orange;
  }

  &:nth-child(3) {
    @media (max-width: @mobile-width-only) {
      padding-bottom: 76px;
    }

    background-color: @special-yellow;
  }

  &:last-child {
    @media (max-width: @mobile-width-only) {
      top: -60px;

      padding-bottom: 24px;
      margin-bottom: -60px;
    }

    background-color: @basic-yellow;
  }

  &:nth-child(2n - 1) {
    @media (min-width: @tablet-width) {
      width: 53%;
    }
  }

  &:nth-child(2n) {
    @media (min-width: @tablet-width) {
      width: 50%;
      left: -21px;

      margin-right: -21px;
    }
  }

  &::after {
    content: counter(roadmap);

    font-weight: @font-bold;
    font-size: @roadmap-font-size;
    line-height: @roadmap-line-height;
    color: @basic-white;

    @media (min-width: @tablet-width) {
      margin-top: auto;

      font-size: @alt-tablet-font-size;
      line-height: @alt-tablet-line-height;
    }

    @media (min-width: @desktop-width) {
      font-size: @heading-font-size;
      line-height: @heading-line-height;
    }
  }
}

.roadmap__text {
  width: 62%;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 68%;
  }
}
