.roadmap {
  list-style: none;

  margin: 0;
  padding: 0;
  padding-bottom: 39px;

  font-weight: @font-bold;
  font-size: @roadmap-font-size;
  line-height: @roadmap-line-height;
  color: @basic-dark-blue;

  counter-reset: roadmap;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.roadmap__item {
  counter-increment: roadmap;

  &:first-child {
    background-color: @basic-orange;
  }

  &:nth-child(2) {
    background-color: @special-orange;
  }

  &:nth-child(3) {
    background-color: @special-yellow;
  }

  &:last-child {
    background-color: @basic-yellow;
  }

  @media (min-width: @tablet-width) {
    &:nth-child(2n - 1) {
      width: 365px;
    }

    &:nth-child(2n) {
      width: 344px;
    }
  }

  &::after {
    content: counter(roadmap);

    font-weight: @font-bold;
    font-size: @roadmap-font-size;
    line-height: @roadmap-line-height;
    color: @basic-white;
  }
}
