.step {
  background-color: @basic-white;
}

.step__heading {
  width: 50%;

  font-weight: @font-bold;
  font-size: @alt-font-size;
  line-height: @alt-line-height;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-size: @plans-tablet-font-size;
    line-height: @plans-tablet-line-height;
  }
}

.step__text {
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @alt-text-color;

  @media (min-width: @tablet-width) {
    font-size: @navigation-font-size;
    line-height: @navigation-line-height;
  }
}

.step__list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.step__companions {
  @media (min-width: @tablet-width) {
    order: -2;
  }
}

.step__children {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.step__label {
  font-weight: @font-medium;
  font-size: @text-alt-font-size;
  line-height: @text-alt-line-height;
  text-transform: uppercase;
  color: @title-color;
  letter-spacing: 0.1em;

  @media (min-width: @tablet-width) {
    font-size: @label-tablet-font-size;
    line-height: @label-tablet-line-height;
  }

  &--checkbox {
    font-size: @additional-text-font-size;
    line-height: 15px;
    text-transform: none;

    @media (min-width: @tablet-width) {
      font-size: @text-alt-tablet-font-size;
      line-height: @text-alt-tablet-line-height;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  &--actions {
    font-size: @roadmap-font-size;
    line-height: @roadmap-line-height;
    text-transform: none;
    letter-spacing: normal;

    @media (min-width: @tablet-width) {
      font-weight: @font-bold;
      font-size: @alt-tablet-font-size;
      line-height: @alt-tablet-line-height;
    }
  }
}

.step__unit {
  font-weight: @font-medium;
  font-size: @text-alt-font-size;
  line-height: @text-alt-line-height;
  text-transform: uppercase;
  color: @special-gray-blue;

  @media (min-width: @tablet-width) {
    font-size: @label-tablet-font-size;
    line-height: @label-tablet-line-height;
    letter-spacing: 0.08em;
  }

  @media (min-width: @desktop-width) {
    letter-spacing: normal;
    color: @title-color;
  }
}

.step__number {
  font-weight: @font-medium;
  font-size: 15px;
  line-height: @details-line-height;
  text-transform: uppercase;
  color: @title-color;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @label-tablet-font-size;
    line-height: @label-tablet-line-height;
  }
}

.step__calendar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.step__month {
  font-weight: @font-bold;
  font-size: @alt-font-size;
  line-height: @alt-line-height;
  color: @title-color;

  @media (min-width: @tablet-width) {
    font-size: @plans-tablet-font-size;
    line-height: @plans-tablet-line-height;
  }
}

.step__input {
  font-weight: @font-medium;
  font-size: @title-font-size;
  line-height: @title-line-height;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: @title-color;

  &--dropdown {
    letter-spacing: normal;
  }

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
    letter-spacing: 0.1em;
  }
}

.step__back {
  font-size: @button-alt-font-size;
  line-height: @button-alt-line-height;
  text-transform: uppercase;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    font-size: @name-tablet-font-size;
    line-height: @name-tablet-line-height;
    text-transform: none;
  }
}

.step__textarea {
  font-family: @basic-font-family;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @alt-text-color;

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }

  &::placeholder {
    color: @special-light-gray;
  }
}

.step__navigation {
  margin: 0;
  padding: 0;

  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.step__navigation-link {
  font-size: @navigation-font-size;
  line-height: @navigation-line-height;
  text-transform: uppercase;
  color: @special-hover-black;
  letter-spacing: 0.1em;

  &--active {
    color: @basic-black;
  }
}

.step__header {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.step__buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.step__button {
  font-size: @button-alt-font-size;
  line-height: @button-alt-line-height;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: @button-tablet-font-size;
    line-height: @button-tablet-line-height;
    text-transform: none;
  }
}

.step__dropdown-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.step__add-country {
  font-size: @title-font-size;
  line-height: @title-line-height;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background-color: @basic-lighter-gray;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: @text-alt-tablet-font-size;
    line-height: @text-alt-tablet-line-height;
  }
}
