.step {
  background-color: @basic-white;
}

.step__heading {
  width: 50%;

  font-weight: @font-bold;
  font-size: @companion-font-size;
  line-height: @companion-line-height;
  color: @title-color;
}

.step__text {
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @alt-text-color;
}

.step__list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.step__companions {
  @media (min-width: @tablet-width) {
    order: -2;
  }
}

.step__children {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.step__label {
  font-weight: @font-medium;
  font-size: @text-alt-font-size;
  line-height: @text-alt-line-height;
  text-transform: uppercase;
  color: @title-color;

  &--checkbox {
    font-size: @additional-text-font-size;
    line-height: 15px;
    text-transform: none;
  }

  &--actions {
    font-size: @roadmap-font-size;
    line-height: @roadmap-line-height;
    text-transform: none;
  }
}

.step__unit {
  font-weight: @font-medium;
  font-size: @text-alt-font-size;
  line-height: @text-alt-line-height;
  text-transform: uppercase;
  color: @special-gray-blue;
}

.step__number {
  font-weight: @font-medium;
  font-size: 15px;
  line-height: @details-line-height;
  text-transform: uppercase;
  color: @title-color;
  text-align: center;
}

.step__month {
  font-weight: @font-bold;
  font-size: @companion-font-size;
  line-height: @companion-line-height;
  color: @title-color;
}

.step__input {
  font-weight: @font-medium;
  font-size: @title-font-size;
  line-height: @title-line-height;
  text-transform: uppercase;
  color: @title-color;
}

.step__back {
  background-color: @basic-white;
}

.step__textarea {
  font-family: @basic-font-family;
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: @alt-text-color;

  &::placeholder {
    color: @special-light-gray;
  }
}

.step__navigation {
  margin: 0;
  padding: 0;

  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.step__navigation-link {
  font-size: @navigation-font-size;
  line-height: @navigation-line-height;
  text-transform: uppercase;
  color: @special-hover-black;

  &--active {
    color: @basic-black;
  }
}

.step__header {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.step__buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}
