.transport-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  list-style: none;

  margin: 0 auto;
  padding: 0;

  &--catalog {
    @media (min-width: @tablet-width) {
      flex-direction: column;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
    }
  }
}

.transport-list__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.transport-list__button {
  padding: 0;

  color: @special-very-light-gray;

  background-color: @basic-white;
  border: none;

  &--active {
    color: @button-color;
  }
}
