.user-list {
  list-style: none;

  padding: 0;
  margin: 0;

  font-weight: @font-bold;
  font-size: @button-font-size;
  line-height: @button-line-height;
  text-transform: uppercase;
}

.user-list__item {
  background-color: @button-background;
}

.user-list__link {
  color: @basic-dark-blue;
}
